# ========================
# Python
# ========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# Virtual Environments
venv/
.venv/
env/

# Environment Variables
**/.env
.env

# Logs
*.log

# ========================
# Node.js
# ========================
node_modules/
dist/
build/

# ========================
# VS Code
# ========================
.vscode/

# ========================
# OS Files
# ========================
.DS_Store
Thumbs.db